#root {
  max-width: 1280px;
  margin: 1em 2em;
  text-align: center;
}
.playerContainer{
  display: flex;
  justify-content: end;
}
.playerContainer > .icon{
  width: 2.5em;
  height: auto;
  margin: 0em 0.5em 1em 0em;
}
.taskContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0em;
}
.taskContainer input[type="text"]{
  padding: 0.6em 4em 0.6em 1em;
  margin: 0em 0.25em;
  background-color: #f9f9f9;
  border: none;
  color: #9d596e;
}
.taskContainer img{
  width: 3em;
  height: auto;
}
.webName{
  text-align: left;
  margin: 0em;
}
.ghLink{
  text-decoration: none;
  color: #9d596e;
}
.timer{
  font-size: 6em;
  margin:0em;
  padding: 0em;
}
.timeDisplayContainer button {

  max-width: 100%;
  border-radius: 1.25em;
  border: 2px solid #9d596e;
  padding: 0.6em 1.2em;
  margin: 0.5em 1em;
  color: #9d596e;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
.timeDisplayContainer button:hover {
  border-color: #f9f9f9;
}
.timeDisplayContainer button:focus,
.timeDisplayContainer button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.taskListContainer{
  list-style: none;
  text-align: left;
  padding-left: 0;
}
.taskListContainer .text {
  padding-left:0.25em;
  font-size: 1.5em;
}
.taskListContainer li{
  margin: 0.5em 0em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.taskListContainer input[type="checkbox"] {
  cursor: pointer;
  width: 2em; 
  height: 2em; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #f9f9f9; 
  border-radius: 0.5em;
  background-color: #f9f9f9; 
  position: relative;
}
.taskListContainer input[type="checkbox"]:checked {
  background-color: rgb(136, 190, 136);
  border-color: green;
}
.taskListContainer input[type="checkbox"]:checked + .text {
  text-decoration: line-through; /* Strike-through the text when checked */
  color: rgb(166, 159, 159); /* Change text color when checked */
}

.mainDisplayContainer{
  display: flex;
}
.mainDisplayContainer div{
  flex-direction: row;
}
.timerDisplayContainer{
  flex: 3 1 0%;
}
.taskDisplayContainer{
  flex: 1 1 0%;
  border: 0.2em solid #f9f9f9;
  border-radius: 1em;
  padding: 0.5em;
}
#totalTime{
  text-align: right;
  margin-right:1em;
}